node_modules
.tmp
dist
build
.cache
.strapi
.git
.gitignore
.env
.env.*
!.env.example
*.md
!README.md
npm-debug.log*
.DS_Store
.strapi-updater.json
.strapi-cloud.json
license.txt
exports
coverage
.vscode
.idea
